<div class="row">
    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg">
      <div class="pageHeader">
        <small>A crowd-sourced collection of the best web programming resources of all types, tagged and classified.</small>
      </div>
      <br />
      <div class="list-group"><a class="list-group-item list-group-item-action active" href="#">Category tags</a>
        <div class="list-group-item">Books</div>
        <div class="list-group-item">Courses</div>
      </div>
      <div class="list-group"><a class="list-group-item list-group-item-action active" href="#">Subject tags</a>
        <div class="list-group-item">JavaScript</div>
        <div class="list-group-item">General best practice</div>
        <div class="list-group-item">MEAN stack</div>
        <div class="list-group-item">Full stack</div>
        <div class="list-group-item">Front end</div>
        <div class="list-group-item">Angular</div>
        <div class="list-group-item justify-content-between">MEAN stack</div>
      </div>
    </div>
    <div class="col-md-8 pageContent">
        <div class="jumbotron">
            <h2 class="display-4">Under construction!</h2>
            <p class="lead">This site is under construction at the moment. We will be running soon :)</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" routerLink="about" role="button">About wprogindex</a>
        </div>
    </div>
  </div>
  <br />
  