<div class="container appContent">

  <div class="row">
    <div class="col-md-12">
      <!--
        <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg">
      -->
      <div class="pageHeader">
        <h2>{{pageContent.pageTitle}}</h2>
      </div>
      <div class="pageContent">
        <article class="pageText">
          <p>
            This project is an open-source web application that aims to provide a mind map with short notes about web technologies and various areas of web programming and also to provide a handpicked collection of good resources to learn about various areas in web programming.
          </p>
          <p>
            Software developers, web developers who want to get a birds-eye view of web programming and also want links to great resources for learning may find this website useful. Anyone looking to find short notes for revising too.
          </p>
          <p>
              PS: This project is in progress. Links to resources to be added shortly. Adding new features every week.
          </p>
        </article>   
          

          <!--Intention is to provide an index of web programming resources, possibly crowdsourced from users themselves, tagged and categorized for navigation and rated based on helpfulness to the user. This is an effort that is being made after realizing that there isn't a single index or list that helps someone looking for resources to learn about web programming to go to for looking up. There are some lists on Github, but a better listing would surely be useful. You need to first find that reliable place to find the best resources and then in that list there, find the resource, be it a video or article or book, that best suits your need. Google (and other search engines too!) does not help to ease this work. Hence this attempt. Hopefully it will be useful to everyone!
          -->
        <article class="pageText">
          <p>
            Code: <a href="https://github.com/shrunSprint89/wProgIndex">https://github.com/shrunSprint89/wProgIndex/</a>
          </p>
          <div>
              <h4>Libraries used:</h4>
              <ul class="simpleList">
                <li>markmap - 
                  <a href="https://github.com/dundalek/markmap">https://github.com/dundalek/markmap</a>
                </li>
                <li>particles.js - 
                  <a href="https://github.com/VincentGarreau/particles.js">https://github.com/VincentGarreau/particles.js</a>
                </li>
              </ul>
          </div>
            
        </article>
        
      </div>
    </div>
  </div>
</div>