<div class="row">
  <div class="col-md-12">
    <!--
      <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg">
    -->
    <div class="page-header">
      <small>A collection of the best web programming resources of all types, tagged and classified.</small>
    </div>
    <div class="page-content">
      <h1>{{pageContent.pageTitle}}</h1>
      <p>
        This project is in progress. 
      </p>
      <p>
        This project is an open-source web application that will host a (possibly crowd-sourced) collection of the best web programming resources of all types, tagged and classified. 
      </p>
      <p>
        Attempts to solve the problem of searching in different places to find the materials to learn that one is most comfortable with. This website lists resources in one place, a sort of index that people could refer to and also add things to.  
      </p>

        

        <!--Intention is to provide an index of web programming resources, possibly crowdsourced from users themselves, tagged and categorized for navigation and rated based on helpfulness to the user. This is an effort that is being made after realizing that there isn't a single index or list that helps someone looking for resources to learn about web programming to go to for looking up. There are some lists on Github, but a better listing would surely be useful. You need to first find that reliable place to find the best resources and then in that list there, find the resource, be it a video or article or book, that best suits your need. Google (and other search engines too!) does not help to ease this work. Hence this attempt. Hopefully it will be useful to everyone!
        -->
      <p>
        Site code at <a href='https://github.com/shrunSprint89/wProgIndex'>https://github.com/shrunSprint89/wProgIndex/</a>
      </p>
    </div>
  </div>
</div>
